*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header-nav{
    display: flex;
    justify-content: space-between;
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: #1F2937;
}

.header-h1{
    margin-left: 50px;
}

h1{
    font-weight: 700;
    font-size: 24px;
    color: #F9FAF8;
}

.header-links{
    padding-right: 50px;
    display: flex;
    gap: 50px;
    margin-top: 15px;
}

.header-links a{
    color: #F9FAF8;
    text-decoration: none;
    font-weight: 700;
    font-size: 18px;
}

.header-hero{
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #1F2937;
    padding: 20px 0px 50px 0px;
}

.header-hero-left{
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header-hero .header-hero-left h2{
    font-size: 36px;
    font-weight: 900;
    color: #F9FAF8;
    text-align: start;
}

.header-hero .header-hero-left p{
    margin: 7px 0px 20px 0px;
    font-size: 14px;
    color: #E5E7EB;
    width: 80%;
    text-align: center;
    padding: 10px 0 10px 0;
    align-self: start;
}

.header-hero .header-hero-left button{
    background-color: #3882F6;
    color: #FFF;
    padding: 12px;
    border-radius: 15px;
    align-self: start;
    margin-left: 140px;
}

.image-container-section{
    display: flex;
    flex-direction: column;
}

.image-container-section h3{
    text-align: center;
    margin: 22px 0px 44px 0px;
    font-weight: bolder;
}

.image-container{
    display: flex;
    flex-direction: row;
}

.border-style-img{
    border-radius: 9px;
    border: 5px solid darkolivegreen;
}

img+p{
    font-size: 12px;
    width: 150px;
    text-align: center;
}

.image-container{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: auto;
}

.quote-section{
    background-color: #E5E7EB;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.quote{
    font-size: 24px;
    font-style: italic;
    color: #1F2937;
    padding: 35px 350px 5px 350px;
    line-height: 1.2;
}

.author{
    align-self: flex-end;
    margin-right: 350px;
    font-weight: 900;
    margin-bottom: 20px;
}

.call-to-action{
    background-color: #3882F6;
    margin: 75px 300px;
    padding: 30px 70px;
    display: flex;
    justify-content: space-around;
    border-radius: 7px;
}

.call-to-action-left p{
    color: #F9FAF8;
}

.call-to-action-left > :first-child{
    font-weight: 900;
    margin-bottom: 10px;
}

.call-to-action-button{
    border-radius: 10px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: #3882F6;
    border: 1px solid #F9FAF8;
    color: #F9FAF8;
}

footer{
    background-color: #1F2937;
    width: 100%;
    height: 60px;
    padding-top: 20px;

}

footer p {
    text-align: center;
    color: #fff;
    font-size: 12px;
    padding-bottom: 20px;
}